<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="fruit in arr">{{fruit}}</li> -->
            <li v-for="(value,index) in arr">
                {{value}}
                <span v-on:click="showIndex(index)"> 获取索引</span>
            </li>
        </ul>
    </div>
    <script src="../vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                arr:["苹果","鸭梨","西瓜","香蕉"],
            },
            methods:{
                showIndex:function(index){
                    console.log(index)
                }
            }
        })
    </script>
</body>
</html>