/* module_one */
.module_one{
    width: 100%;
    height: 786px;
    padding: 269px 0 0 50%;
    background-image: url(../images/module_one_background.jpg);
    background-size: 100% 786px;
}
/* oppoReno */
.oppoReno{
    width: 100%;
    height: 100%;
    margin: auto;
}
.oppoReno_out{
    margin-left:24%;
}
.oppReno_OppOReno{
    margin-left: 11%;
}
.oppoReno_p{
    margin-left: 10px;
    font-weight: bolder;
}
.oppReno_OppOReno,.oppoReno_p{
    position: relative;
    bottom: 5px;
}
.oppoReno_p_link{
    color: #2f3237;
    font-size: 18px;
}
/* oppoReno_list */
.oppoReno_list{
    display: flex;
    width: 74%;
    height: 57px;
    margin:9% 0 0 12px;
}
.oppoReno_list_li{
    width: 167px;
    height: 100%;
    border-right: 1px #e3f3f3 solid;
}
.oppoReno_list_li_p{
    text-align: center;
}
.oppoReno_list_li_p_link{
    color: #222325;
    font-size:17px;
}
.oppoReno_list_li_img{
    display: block;
    margin:  5px auto 0 auto;
}
.oppoReno_wu{
    margin: 5% 0 0 25%;
}
.oppoReno_wu_link{
    color: #222325;
    font-size:20px;
}
.oppoReno_btn{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 284px;
    height: 55px;
    margin: 5% 0 0 18.5%;
}
.oppoReno_btn_left,.oppoReno_btn_right{
    display: block;
    width: 133px;
    height: 55px;
    color: #e9ffff;
    background-color: #1bc9bd;
    text-align: center;
    line-height: 55px;
    border-radius: 55px;
}
/* module_tow */
.module_tow{
    width: 100%;
    height: 130px;
    background-color: #E1F6F9;
}
.module_tow_banner{
    display: block;
    width: 100%;
    height: 100%;
}
/* module_three */
.module_three{
    width: 100%;
    height: 749px;
    padding-top: 84px;
    background-color: #E1F6F9;
}
.module_three_auto{
    width: 86%;
    height: 500px;
    margin: auto;
}
.module_three_title{
    text-align: center;
    font-family: "楷体";
}
.module_three_title_link{
    color: #383433;
    font-size:43px;
}
/* module_three_list */
.module_three_list{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    height: 86%;
    margin-top: 40px;
}
.module_three_list_type{
    width: 24%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.module_three_list_type_p{
    margin-top:35px;
    text-align: center;
    font-weight:bold;
}
.module_three_list_type_p_link{
    color: #0bd0b4;
    font-size: 23px;
}
.module_three_list_type_ri{
    color: #2e2e2e;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.module_three_list_type_logo{
    display: block;
    margin: auto;
}
.module_three_list_type_k1{
    color: #2e2e2e;
    text-align:center;
    cursor: pointer;
    font-weight: bold;
}
.module_three_list_type_bottom{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 51px;
    margin-top:18px;
}
.module_three_list_type_bottom_p{
    margin: 0 6px 0 52px;
    color: #2e2e2e;
    font-size:15px;
    line-height:51px;
    font-weight: bold;
}
.module_three_list_type_bottom_link{
    display: block;
    width: 130px;
    height: 50px;
    color: #fffbff;
    background-color: #21c6c0;
    font-size:20px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
}
/* module_three_list hover鼠标触发事件 */
.module_three_list li:nth-child(1):hover,
.module_three_list li:nth-child(3):hover{
    transform: translateY(-10px);
    transition: 0.1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.module_three_list li:nth-child(2):hover,
.module_three_list li:nth-child(4):hover{
    transform: translateY(10px);
    transition: 0.1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
/* module_four */
.module_four{
    width: 100%;
    height: 1633px;
}
.module_four_auto{
    width: 89%;
    height: 100%;
    margin: auto;
    padding-top:84px;
}
.module_four_title{
    margin-bottom: 33px;
    color:#121212;
    font-size:44px;
    cursor: default;
    text-align:center;
}
/* JianShao */
.JianShao{
    width: 100%;
    height: 575px;
    background-image: url(../images/module_four_background.png);
    background-size:100% 575px;
}
.JianShao_auto{
    width: 100%;
    height:100%;
    margin: auto;
    padding:173px 0 0 59%;
}
.JianShao_title{
    margin-left:16.7%;
}
.JianShao_p{
    margin:5px 0 0 3%;
    color: #5a696c;
}
/* JianShao_GBlist */
.JianShao_GBlist{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 67%;
    height:33px;
    margin:23px 0 0 4%;
}
.JianShao_GBlist_type{
    width:98px;
    height:100%;
    font-weight: bold;
    background-color: #d2f6f4;
}
.JianShao_GBlist_type_link{
    display: block;
    color:#15b5ab;
    text-align:center;
    line-height: 33px;
}
/* JianShao_disc */
.JianShao_disc{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 67%;
    margin:24px 0 0 4%;
    list-style-position: inside;
}
.JianShao_disc li#JianShao_disc_type:nth-child(1){
    list-style-image: url(../images/JianShao_disc_three.png);
}
.JianShao_disc li#JianShao_disc_type:nth-child(2){
    list-style-image: url(../images/JianShao_disc_tow.png);
}.JianShao_disc li#JianShao_disc_type:nth-child(3){
    list-style-image: url(../images/JianShao_disc_one.png);
}
.JianShao_disc li#JianShao_disc_type:nth-child(4){
    list-style-image: url(../images/JianShao_disc_four.png);
}
.JianShao_disc_type_link{
    position: relative;
    bottom: 1px;
    color:#526261;
    font-size:14px;
}
/* JianShao_rist */
.JianShao_rist{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 41%;
    height:26px;
    margin: 10% 0 0 17%;
}
.JianShao_rist_mian{
    display: block;
    width:80px;
    height:100%;
    color:#4cb5a7;
    border: 1px #4cb5a7 solid;
    background-color: transparent;
    text-align: center;
    line-height:26px;
    border-radius: 5px;
}
.JianShao_link{
    display: block;
    margin: 20px 0 0 24%;
    width: 132px;
    height:49px;
    color: #f6fffc;
    border: 1px #1fc9bc solid;
    border-radius: 49px;
    background-color:#1bc9bf;
    text-align:center;
    line-height:49px;
}
/* commodity */
.commodity{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height:175px;
    margin-top:15px;
    background-color:#e3fcff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius:10px;
}
/* commodity_headset */
.commodity_headset{
    display:flex;
    display:-webkit-flex;
    width:37%;
    height:100%;
    margin-left:12.5%;
}
.headeset_imglink{
    margin-top:28px;
}
.headeset_text{
    width:58%;
    height:100%;
    padding-left:30px;
}
.headeset_text_title{
    margin-top: 23%;
    font-weight:bold;
}
.headeset_text_title_link{
    color:#141f21;
    font-size: 18px;
}
.commodity_headset_link{
    display: block;
    margin-top: 10%;
}
.commodity_headset_link_left{
    color: #1d242a;
    font-size:19px;
}
.commodity_headset_link_right{
    vertical-align: bottom;
    margin-left:5px;
    color: #c0d5da;
    font-size: 14px;
    text-decoration: line-through;
}
.commodity_solid{
    width: 1px;
    height: 68%;
    margin-top:25px;
    border-right: 1px #98c3c9 solid;
}
/* commodity_phone */
.commodity_phone{
    display: flex;
    display: -webkit-flex;
    width: 36%;
    height: 100%;
    margin-left:13%;
}
.phone_logo{
    margin-top:28px;
}
.phone_text{
    width: 70%;
    height: 100%;
    padding-left:6%;
}
.phone_text_title{
    margin-top:16%;
    font-weight:bold;
}
.phone_text_title_link{
    color: #121b20;
    font-size:17px;
}
.phone_text_qian{
    display: block;
    margin-top: 10%;
    color: #1d242a;
    font-size:19px;
}
/* commodity commonality */
.headeset_text_p,.phone_text_p{
    margin-top:5px;
}
.headeset_text_p_link,.phone_text_link{
    color:#a5b0b2;
}
/* OPPOA9 */
.OPPOA9{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height:517px;
    margin-top:50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.OPPOA9_left{
    width: 50%;
    height: 100%;
    background-image:url(../images/OPPOA9_images.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
}
/* OPPOA9_right */
.OPPOA9_right{
    width: 50%;
    height: 100%;
    background-color:#e3fcff
}
.OPPOA9_right_title{
    margin-top:23%;
    text-align:center;
}
.OPPOA9_right_title_link{
    color: #1e1a1b;
    font-size:28px;
}
.OPPOA9_right_p{
    margin-top:5px;
    text-align:center;
}
.OPPOA9_right_p_link{
    color: #7b8d8f;
    font-size:17px;
}
.OPPOA9_righ_qian{
    margin-top:8%;
    color:#000103;
    font-size:21px;
    text-align:center;
}
.OPPOA9_right_liji{
    display:block;
    width: 130px;
    height:50px;
    margin: 16px auto 0 auto;
    border: 1px #1cb9ae solid;
    background-color:#18c9bf;
    color: #fdfff1;
    line-height:50px;
    text-align:center;
    border-radius: 50px;
}
.OPPOA9_left_footer{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 220px;
    height:26px;
    margin:100px auto 0 auto;
}
.OPPOA9_left_footer_zheng{
    display:block;
    width: 26px;
    height: 26px;
    background-color:#1abbb6;
    border:1px #80e2e1 solid;
    color: #f3fffd;
    line-height:26px;
    text-align:center;
}
.OPPOA9_left_footer_en{
    color:#586264;
    font-size:17px;
    line-height:26px;
}
/* module_five */
.module_five{
    width: 100%;
    height:597px;
    background-color:#0e5b65;
}
/* equity */
.equity{
    width: 89%;
    height:100%;
    margin:auto;
    padding-top:8%;
    cursor: default;
}
.equity_title{
    text-align:center;
    color:#fefff8;
    font-size:46px;
}
/* equity_list */
.equity_list{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    height:290px;
    margin-top:5%;
}
.equity_list_type{
    width:24%;
    height:100%;
    background-color:#ffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.equity_list_type_img{
    display: block;
    margin:15% auto 0 auto;
}
.equity_list_type_title{
    margin:8px 0 12px 0;
    color:#2e2e2e;
    font-size:17px;
    font-weight:bold;
    text-align:center;
}
.equity_list_type_text{
    color:#626262;
    font-size: 15px;
    text-align:center;
    line-height:25px;
    letter-spacing: 1px;
}
/* equity_list hover鼠标触发事件 */
.equity_list li:nth-child(2):hover,
.equity_list li:nth-child(4):hover{
    transform: translateY(-10px);
    transition: 0.1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.equity_list li:nth-child(1):hover,
.equity_list li:nth-child(3):hover{
    transform: translateY(10px);
    transition: 0.1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
/* module_six */
.module_six{
    width: 100%;
    height:1249px;
    background-color:#e2f7fa;
}
.module_six_auto{
    width:89%;
    height:100%;
    margin:auto;
    padding-top:7%;
}
.module_six_title{
    color:#131418;
    font-size:45px;
    text-align:center;
    cursor: default;
}
/* OPPOK */
.OPPOK1{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height:523px;
    margin-top:3%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius:20px;
}
.OPPOK1_left{
    width: 50%;
    height:100%;
    background-image: url(../images/OPPOK1_background.png);
    background-size:100% 100%;
    border-radius: 20px 0 0 20px;
}
/* OPPOK1_right */
.OPPOK1_right{
    width: 50%;
    height:100%;
    border-radius:0 20px 20px 0;
    background-color:#ffff;
}
.OPPOK1_right_title{
    margin-top:20%;
    text-align:center;
}
.OPPOK1_right_title_link{
    color:#010101;
    font-size:32px;
}
.OPPOK1_right_JianShao{
    margin-top:2%;
    text-align:center;
}
.OPPOK1_right_JianShao_link{
    color:#666666;
    font-size:21px;
}
.OPPOK1_right_hui{
    margin-top: 5%;
    text-align:center;
    letter-spacing: 3px;
}
.OPPOK1_right_hui_link{
    color:#c01001;
    font-size:21px;
}
.OPPOK1_right_versions{
    display:flex;
    display:-webkit-flex;
    justify-content: space-around;
    width:70%;
    height:226px;
    margin:8% auto 0 auto;
}
.versions_4G{
    height:50%;
    padding-top:5px;
}
.versions_4G_title{
    display:block;
    color:#68d6cb;
    font-size:14px;
    font-weight:500;
    text-align:center;
    text-decoration:line-through;
}
.versions_4G_p{
    margin-top:5px;
    text-align:center;
}
.versions_4G_p_jixian{
    color:#212121;
    font-size:15px;
    vertical-align: bottom;
}
.versions_4G_p_link{
    color:#212121;
    font-size:20px;
}
.versions_4G_ban{
    display:block;
    width:130px;
    height:50px;
    margin:8px auto 0 auto;
    border :1px #6ac3bd solid;
    color:#e1fdfe;
    font-size:16px;
    border-radius:50px;
    background-color:#1dc8bf;
    line-height:50px;
    font-weight:500;
    text-align:center;
}
/* O-Fresh */
.O-Fresh{
    display:flex;
    display:-webkit-flex;
    width: 100%;
    height:519px;
    margin-top:17px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius:20px;
}
/* O-Fresh_right */
.O-Fresh_right{
    width: 50%;
    height: 100%;
    background-image:url(../images/O-Fresh_right_background.png);
    background-size:100%;
    border-radius: 20px 0 0 20px;
}
.O-Fresh_right_link{
    position: relative;
    top:20px;
    left:24px;
    display:block;
    width:102px;
    height:34px;
    background-color: transparent;
    border: 1px #fff solid;
    color: #fff;
    font-size:20px;
    text-align:center;
    line-height:34px;
    border-radius: 8px;
}
/* O-Fresh_left */
.O-Fresh_left{
    width: 50%;
    height:100%;
    background-color:#fff;
    border-radius: 0 20px 20px 0;
}
.O-Fresh_left_headset{
    margin-top:22%;
    text-align:center;
}
.O-Fresh_left_headset_link{
    color:#070707;
    font-size: 28px;
}
.O-Fresh_left_contet{
    width:65%;
    margin:10px auto 0 auto;
}
.O-Fresh_left_contet_a{
    display: inline-flex;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.O-Fresh_left_contet_span{
    position: relative;
    bottom:-6px;
    color:#676767;
    font-size:20px;
}
.O-Fresh_left_p{
    margin-top:20%;
    text-align:center;
    color:#030303;
    font-size:19px;
    font-weight:bold;
}
.O-Fresh_right_immediately{
    display:block;
    margin:3% auto 0 auto;
    width:131px;
    height:48px;
    background-color:#21c6c2;
    color:#e6fefe;
    text-align:center;
    line-height:48px;
    font-weight:bold;
    border-radius: 48px;
}
/* module_seven */
.module_seven{
    width: 100%;
    height:1400px;
    background-color:#e2f7fa;
}
.module_seven_auto{
    width: 89%;
    margin:auto;
    padding-top: 20px;
    height:100%;
}
/* price list */
.price{
    display: flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-around;
    padding-top:10px;
    width: 100%;
    height:1400px;
}
.price_type{
    width:49.2%;
    height:693px;
    border-radius:20px;
}
.price_type_img{
    display: block;
    width: 100%;
    border-radius:20px 20px 0 0 ;
}
.price_type_box{
    display: flex;
    display:-webkit-flex;
    width: 100%;
    height:173px;
    background-color:#fff;
    border-radius:0 0 20px 20px ;
}
/* R17 */
.R17{
    width:48.7%;
    height:100%;
    padding:35px 0 0 36px;
}
.R17_link{
    color:#323232;
    font-size:28px;
    font-weight:bold;
}
.R17_lin_hui{
    margin-top:5%;
    color:#d01118;
    font-size:18px;
}
.R17_p,.FindX_zheng{
    display: flex;
    display:-webkit-flex;
    height:27px;
    margin-top:5%;
    cursor: default;
}
.R17_p_zheng,.FindX_zheng_one{
    display:block;
    width:25px;
    height:100%;
    color: #ffffff;
    text-align:center;
    line-height:27px;
    background-color:#0ebcb0;
    border-radius: 3px;
}
.R17P_2{
    width: 80%;
    margin-top:48px;
}
.R17_p_span,.FindX_zheng_lan{
    margin-left:10px;
    color: #565656;
    line-height:27px;
}
.Theirprice{
    display: flex;
    display:-webkit-flex;
    position: relative;
    left:-50px;
    justify-content: space-around;
    width:51%;
    height: 100%;
    padding-top:38px;
}
.Theirprice_fu{
    position: relative;
    left:-33px;
}
.Theirprice_content{
    width:45%;
    height:100%;
    margin-left:20px;
}
.Theirprice_content_2599,.Theirprice_content_1899{
    color:#c7c7c7;
    font-size:15px;
    text-align:center;
    text-decoration:line-through;
}
.Theirprice_content_span{
    margin-top:5px;
    color:#020202;
    text-align:center;
    font-size:14px;
}
.Theirprice_content_span_2399{
    vertical-align: bottom;
    font-size:19px;
}
.Theirprice_content_span_A1{
    margin-top: 29px;
    font-size: 19px;
}
.Theirprice_content_ban,.Theirprice_content_ban,
.FindX_liji_likn{
    display:block;
    width:130px;
    height:47px;
    border:1px #7ac1bb solid;
    background-color:#1bc9bf;
    color:#dbffff;
    text-align:center;
    line-height:47px;
    border-radius:47px;
}
.Theirprice_content_ban{
    margin:20px auto 0 auto;
}
.Theirprice_content_span_999{
    margin:40px auto 0 auto;
}
.Theirprice_content_ban_a1{
    margin: 16px auto 0 auto;
}
.Theirprice_content_span_R17Rro{
    margin-top: 23px;
}
.Theirprice_content_flex{
    margin-left: 160px;
}
/* module_eight */
.module_eight{
    width: 100%;
    height: 1500px;
    padding-top: 160px;
    background-color:#e2f7fa;
}
.module_eight_auto{
    width:89%;
    height: 100%;
    margin: auto;
    padding-top:6px;
}
/* product list */
.product{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.product_type{
    width: 49.6%;
    height: 693px;
    border-radius: 20px;
}
.product_type_images{
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 0 0;
}
/* FindX */
.FindX{
    display: flex;
    display: -wbkit-flex;
    justify-content: space-between;
    width: 100%;
    height: 193px;
    padding: 40px 0 0 38px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}
.FindX_left{
    width: 53%;
    height: 100%;
}
.FindX_title{
    color: #343434;
    font-size: 29px;
}
.FindX_jianjie{
    margin-top: 10px;
    color: #666666;
}
.FindX_zheng{
    margin-top: 12%;
}
.FindX_liji{
    width: 145px;
    height: 100%;
    margin-right: 20px;
}
.FindX_liji_p{
    margin-top: 28px;
    color: #161616;
    font-size: 17px;
    text-align: center;
}
.FindX_liji_likn{
    margin:18px auto 0 auto;
}
.FindX_hong{
    color: #d01118;
    font-size: 18px;
}
/* module_nine */
.module_nine{
    width:100%;
    height:1400px;
    background-color:#e2f7fa;
}
.module_nine_auto{
    width:89%;
    height:100%;
    margin:auto;
}
.module_nine_title{
    padding-top:8.5%;
    color:#373634;
    font-size:45px;
    text-align:center;
    cursor: default;
}
.O-Freshheadset{
    width:100%;
    height:420px;
    margin-top:3%;
    border-radius:20px;
    background-image:url(../images/O-Fresh-background.jpg);
    background-size:100% 420px;
    cursor: pointer;
}
/* O-Frescontent */
.O-Frescontent{
    width:45%;
    height:100%;
    margin-left:55%;
    padding-top:101px;
    border-radius:0 20px 20px 0;
}
.O-Frescontent_title{
    margin-left:20px;
    color:#ffff;
    font-size:33px;
}
.O-Frescontent_text{
    width:100%;
    margin-top:20px;
}
.O-Frescontent_text_top{
    position: relative;
    right: 20px;
    display: inline-flex;
    display: -webkit-flex;
    width: 440px;
}
.O-Frescontent_text_span{
    position: relative;
    bottom:-5px;
    left: 10px;
    color:#ffff;
    font-size:18px;
    letter-spacing: 2px;
}
.O-Frescontent_text_link{
    width: 120px;
    height: 95px;
    margin:60px 0 0 145px;
}
.O-Frescontent_text_link_p{
    color: #fff;
    font-size: 21px;
    text-align: center;
}
.O-Frescontent_text_link_btn{
    margin-top: 20px;
    background-color: #fff;
    color: #414141;
}
.O-Frescontent_text_link_btn,.charger_content_money_link{
    display: block;
    width: 120px;
    height: 47px;
    border-radius: 120px;
    font-size: 15px;
    line-height: 47px;
    text-align: center;
}
/* accessories */
.accessories{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    height: 280px;
    margin-top:9px;
}
/* charger */
.charger{
    display:flex;
    display: -webkit-flex;
    width:49.5%;
    height:100%;
    background-color: #ffff;
    border-radius: 20px;
}
.charger_img{
    margin: 28% 0 0 3%;
}
.charger_content{
    width:53%;
    height:100%;
    padding-top:58px;
}
.charger_content_title{
    margin-left: 25px;
    color:#343434;
    font-size:18px;
}
.charger_content_p{
    margin-top:10px;
    margin-left: 38px;
    color: #acacac;
    font-size: 15px;
}
.charger_content_money{
    width: 120px;
    height: 80px;
    margin: 38px 0 0 73px;
}
.charger_content_money_p{
    color: #343434;
    font-size: 19px;
    text-align: center;
}
.charger_content_money_link{
    margin-top: 15px;
    border: 1px #24cac6 solid;
    background-color: #1acabf;
    color: #fff;
}
/* new  and appliance list*/
.new,.appliance{
    display: flex;
    display: -wbkit-flex;
    justify-content: space-between;
    width: 100%;
    height: 475px;
    margin-top: 9px;
}
.new_type,.appliance_type{
    width: 24.5%;
    height:100%;
    background-color: #fff;
    border-radius: 20px;
}
.new_type_title{
    display: block;
    width: 108px;
    height: 33px;
    margin: 21px 0 0 24px;
    border: 1px #5caea8 solid;
    background-color: transparent;
    color: #17c5bb;
    text-align: center;
    line-height: 33px;
    font-size: 20px;
    border-radius: 6px;
}
.new_type_images,.appliance_type_images{
    display: block;
    margin: 5px auto 15px auto;
}
.new_type_h5,.appliance_type_h5{
    color: #3b3b3b;
    font-size: 17px;
    text-align: center;
}
.new_type_p,.appliance_type_p{
    margin-top: 15PX;
    color: #a2a2a2;
    font-size: 15PX;
    text-align: center;
}
.new_type_p_qina,.appliance_type_p_qina{
    margin-top: 18px;
    color: #313131;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}
.new_type_liji,.appliance_type_liji{
    display: block;
    margin: 8px auto 0 auto;
    width: 120px;
    height: 48px;
    background-color: #1bc9bf;
    border: 1px #57c8c2 solid;
    color: #fcf8f5;
    font-size: 15px;
    text-align: center;
    line-height: 48px;
    border-radius: 48px;
}
.new_type:hover,.appliance_type:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.1),inset 0 0 10px rgba(0,0,0,0.1);
    transform: scale(0.8);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* module_ten */
.module_ten{
    width: 100%;
    height: 851px;
    background-color: #e2f7fa;
}
.module_ten_auto{
    width: 89%;
    height:100%;
    margin: auto;
}
/* Accessoriespavilion */
.Accessoriespavilion{
    width: 100%;
    height: 264px;
    margin-top: 12px;
    padding-top: 77px;
    background-image: url(../images/Accessoriespavilion.jpg);
    background-size: 100% 264px;
    border-radius: 20px;
    cursor: pointer;
}
.Accessoriespavilion_title{
    margin-left: 64%;
    letter-spacing: 2px;
    font-weight:inherit;
}
.Accessoriespavilion_title_link{
    color: #fff;
    font-size: 30px;
}
.Accessoriespavilion_more{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    width: 12%;
    margin: 28px 0 0 66%;
}
.Accessoriespavilion_more_link{
    color: #c4c4c6;
    font-size: 19px;
}
.Accessoriespavilion_more_sanjiao{
    height:19px;
    margin-top: 4px;
}