<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <div id="app">
         <h3>表单</h3>
         <form action="#" v-on:submit.prevent="sayName">
             <label for="name">姓名</label>
             <input type="text" id="name" v-model="status.name" placeholder="张三">
             <br>
             <label for="age">年龄</label>
             <input type="text" id="age" v-model="status.age" placeholder="16">
             <br>
             <label for="select">性别</label>
             <select id="select" v-model="status.select">
                 <option value="男">男</option>
                 <option value="女">女</option>
             </select>
             <br>
             <input type="submit" value="Submit">
         </form>
         <h3>学生列表</h3>
         <table>
             <tr>
                 <th>姓名</th>
                 <th>年龄</th>
                 <th>性别</th>
                 <th>删除</th>
             </tr>
             <tr v-for="(value,index) in statusArr">
                 <td>{{value.name}}</td>
                 <td>{{value.age}}</td>
                 <td>{{value.select}}</td>
                 <td>
                     <button v-on:click="spliceDate(index)">删除</button>
                 </td>
             </tr>
         </table>
     </div>
    <script src="../vue.js"></script>
    <script>
         new Vue({
             el:"#app",
             data:{
                 status:{},
                 statusArr:[],
             },
             methods:{
                 sayName:function(){
                    // 浅克隆一个对象
                    var newUs = {};
                    for(var i in this.status){
                        newUs[i] = this.status[i]; 
                    };
                    this.statusArr.push(newUs);
                 },
                 spliceDate:function(index){
                     this.statusArr.splice(index,1);
                 }
             }
         })
    </script>
</body>
</html>